<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
  
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <div height="100">a</div>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        
          <a class="navbar-brand" href="#"><img src="https://yt3.ggpht.com/a-/AJLlDp0TFaxkKTbr1YMaEdj0KOLllMoFJcuWOIm4XA=s900-mo-c-c0xffffffff-rj-k-no" class="img-thumbnail" height="50" width="50"></a>
        
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/data">Time-Table</a></li>
          <li><a href="/new_student">add a student</a></li>
          <li><a href="/student_list">student-list</a></li>
          <li><a href="#">professor-list</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- make a condition to hide when session is there -->
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  