<!DOCTYPE html>
<html lang="en">
<head>
  <title>IIITS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <div height="100">a</div>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
        <a class="navbar-brand" href="#"><img src="https://yt3.ggpht.com/a-/AJLlDp0TFaxkKTbr1YMaEdj0KOLllMoFJcuWOIm4XA=s900-mo-c-c0xffffffff-rj-k-no" class="img-thumbnail" height="50" width="50"></a>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">What to put here</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <!-- make a condition to hide when session is there -->
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Welcome Aaquib Niaz</h1>
  <p>UG1</p> 
</div>
  
<div class="container">
  	   
       
       <div class="form-group row">
           <label for="example-text-input" class="col-2 col-form-label">Name</label>
           <div class="col-10">
                <input class="form-control" type="text" value="Aaquib Niaz" id="example-text-input">
           </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Roll-No</label>
                <div class="col-10">
                 <input class="form-control" type="text" value="201701002" id="example-search-input">
                </div>
            </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input class="form-control" type="email" value="aaquib.n17@iiits.in" id="example-email-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">Current-Courses</label>
            <div class="col-10">
                <input class="form-control" type="text" value="DS," id="example-url-input">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="example-color-input" class="col-2 col-form-label">Past-courses</label>
            <div class="col-10">
                <input class="form-control" type="text" value="CP" id="example-color-input">
            </div>
        </div>
</div>

</body>
</html>
