.header-primary {
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
}

.header-class {
	width: 100%;
}

.border-style {
	border: 1px solid silver;
	border-collapse: collapse;
}

.data-container {
	padding-bottom: 5%;
}
